body{
	font-size: 16px;
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	text-decoration: underline;
}
.apps div ul{
	list-style-type: none;
}
.g_head{
	float: right;
}
.g_link i{
	color: grey;
}
.g_link i, .g_link a{
	display: inline-block;
	padding: 0 5px;
	margin: 20px 0;
}

.apps_img{
	width: 20px;
	height: 20px;
	background-image: url("../img/apps_1.PNG");
	align: middle;
}
.apps_img:hover{
	background-image: url("../img/apps_2.PNG");
}

.signin{
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #2dc6ea;
	border-radius: 2px;
	color: #fff;
	font-size: .9em;
	font-weight: bold;
	background-color: #2DC6EA;
}
.signin:hover{
	text-decoration: none;
}


ul,ul li{
	display: inline-block;
}


.body-content{
	width: 580px;
	height: 400px;
	margin: 0 auto;
	padding: 10%;
}
.logo img{
	margin: 0 0 10px 154px;
}
.logo p{
	color: #4285f4;
	position: relative;
	top: -30px;
	left: 370px;
	font: 16px/16px roboto-regular, arial, sans-serif;
	white-space: nowrap;
}
.search-box a input{
	width: 580px;
	height: 40px;
	background-image: url('../img/download.png');
	background-repeat: no-repeat;
	background-size: 24px 24px;
	background-position: right;
	border: 1px solid #D8D7D7;
}
.btns{
	margin: 30px 140px;
}
.btns input{
	width: 120px;
	height: 40px;
	border: 0px solid #f2f2f2;
	color: #757575;
	font-size: 13px;
	font-weight: bold;
	border-radius: 2px;
	background-color: #f2f2f2;
	font-size: 0.9em;
	text-align: center;
	margin: 10px;
}
.btns input:hover{
	border: 1px solid #A9A8A8;
	color: black;
}
.footer{
	width: 100%;
	height: 50px;
	background-color: #F4F2F2;
	color: #B2ACAC;
	font-size: 0.9em;
	position: absolute;
	bottom: 0;
}
.left, .right{
	display: inline-block;
	line-height: 50px;
	text-align: center;;
}
.left a, .right a{
	padding: 0 10px;
}
.left{
	float: left;
}
.right{
	float: right;
}