body{
    padding: 0;
    margin: 0;
    height: 100vw;
    width: 100vw;
}
div{
    width: 100vw;
}
#div1{
    height: 30px;
    background-color: #FBF5DDm;
}
#div2{
    height: 400px;
    background-color: #F9E88C;
}
#div3 > span{
    display: block;
    width: 25vw;
    height: 100px;
    float: left;
}
#div3 > span:nth-of-type(1){
    background-color: #A72222;
}
#div3 > span:nth-of-type(2){
    background-color: #1D498C;
}
#div3 > span:nth-of-type(3){
    background-color: #219371;
}
#div3 > span:nth-of-type(4){
    background-color: #248D0F;
}

#div4 > span{
    display: block;
    height: 150px;
    float: left;
}
#div4 > span:nth-of-type(1){
    width: 25vw;
    background-color: #C28B07;
}
#div4 > span:nth-of-type(2){
    width: 25vw;
    background-color: #12896C;
}
#div4 > span:nth-of-type(3){
    width: 50vw;
    background-color: #BC10CB;
}

#div5 > span{
    display: block;
    height: 200px;
    float: left;
}
#div5 > span:nth-of-type(1){
    width: 50vw;
    background-color: cyan;
}
#div5 > span:nth-of-type(2){
    width: 50vw;
    background-color: #915E14;
}

#div6{
    height: 100px;
    background-color: red;
    clear: both;
}
#div7{
    height: 20px;
    background-color: black
}
