.logo_icon{
  display: inline-block;
  position: relative;
  left: 335px;
  top: 10px;
}
#drop_one{
  width: 100%;
  position: relative;
  top: -55px;
  left: 520px;
}
#drop_one li{
  float: left;
  list-style: none;
  margin: 0 10px;
}
#drop_one >li >a{
  text-decoration: none;
  font-size: 1.1em;
  color: #333;
}
#drop_one >li > a:hover{
  color: #ff6700;
}
.drop_dir{
  display: none;
  position: absolute;
  top: 60px;
  left: -100px;
  background-color: #fff;
  width: 100%;
  height: 200px;
}
.drop_dir hr{
  position: relative;
  left: -460px;
  width: 100vw;
  margin-bottom: 30px;
  color: #D1CFCF;
}
.drop_dir li{
  border-left: 1px solid #D1CFCF;
  height: 100px;
}
.drop_dir li:nth-of-type(1){
  border-left: none;
}
.drop_dir li a{
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: .8em;
  color: #333;
  text-decoration: none;
}
.drop_dir li p{
  margin: 0;
  text-align: center;
  color: #ff6700;
  font-size: .9em;
}
/* .drop_hover:hover .drop_dir{
  display: block;
} */
.search{
  position: relative;
  top: -85px;
  left: 220px;
  z-index: -1;
}
.search input{
  outline: none;
}
.search input[type="search"]{
  position: relative;
  left: 370px;
  width: 250px;
  height: 50px;
  border: 1px solid #D1CCCC;
}
.search input[type="submit"]{
  position: relative;
  left: 365px;
  top: 19px;
  height: 50px;
  width: 48px;
  background-color: #fff;
  border-left: none;
  border-right: 1px solid #D1CCCC;
  border-top: 1px solid #D1CCCC;
  border-bottom: 1px solid #D1CCCC;
}
