.container{
  position: absolute;
  top: 130px;
  left: 320px;
  z-index: -1;
}

.container > li {
    padding: 20px;
    width: 200px;
    height: 18px;
    background-color: rgba(0, 0, 0, 0.6);
    list-style: none;
}

.container > li > a {
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.container > li:hover {
    background-color: #ff6700;
}
.dir{
  display: none;
  position: relative;
  left: 220px;
  top: -39px;
  width: 500px;
  box-shadow: 1px 1px 5px rgba(#605395, 0.47);
}
.dir li{
  list-style: none;
  width: 500px;
  height: 100px;
}
.dir > li > .t_img > img{
  position: relative;
  top: 10px;
}
.dir > li > .t_info{
  position: relative;
  top: -4px;
  color: #000;
  margin: 0 15px;
  text-decoration: none;
  transition: all .2s;
}
.dir > li .t_info:hover{
  color: #ff6700;
}
.dir > li > .t_xg{
  position: relative;
  top: -5px;
  display: inline-block;
  width: 50px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  margin: 0 20px;
  color: #ff6700;
  border: 1px solid #ff6700;
  transition: all .3s ease-in-out;
}
.dir > li > .t_xg:hover{
  background-color: #ff6700;
  color: #fff;
}
.active:hover .dir{
  display: block;
  color: blue;
}
