footer{
	background-color: #F2F2F2;
	position: fixed;
	bottom: 0;
	width: 100%;
}
footer hr{
	width: 50%;
	color: rgba(0, 0, 0, 0.2);
}
.list{
	width: 1000px;
	height: 300px;
	margin: 10px auto;
}
.list ul{
	float: left;
	margin: 0 30px;
}
.list ul li{
	padding: 2px;
	list-style-type: none;
}
.li-font{
	font-size: 0.7em;
}
.list ul li a{
	text-decoration: none;
	color: #747474;
	font-size: 0.7em;
}
.list ul li a:hover{
	text-decoration: underline;
}
.info_1 p, .info_2 span a{
	color: #747474;
	font-size: 0.7em;
	text-decoration: none;
}
.info_1 p a{
	color: #08c;
	text-decoration: none;
}
.info_2 span p{
	font-size: 0.7em;
	display: inline-block;
}
.info_2 p{
	font-size: .7em;
}
.info_2 span:nth-of-type(2){
	float: right;
	margin-right: 500px;
}
.info_1, .info_2{
	margin-left: 500px;
	clear: both;
}

.promo{
	width: 100%;
	background-color: #F2F2F2;
}
.promo img{
	width: 25%;
	float: left;
}