.li_top{
	width: 100%;
	height: 48px;
	line-height: 48px;
	background-color: #000;
	list-style-type: none;
	margin-top: 0;
}
.li_top li{
	float: left;
	width: 100px;
}
.li_top li a{
	color: #fff;
	text-decoration: none;
}