nav{
    position: relative;
    margin: 200px auto;
    width: 600px;
    height: 400px;
}

nav > img{
    display: block;
    margin: 0 auto;
}

nav > input[type="search"]{
    width: 600px;
    height: 40px;
    outline: none;
    border: 1px solid #DDDADA;
    background: url('../img/voice.png') no-repeat right;
    background-size: 25px 25px;
    background-position: 570px;
    text-indent: 5px;;
}
nav > input[type="search"]:hover,
nav > input[type="search"]:active{
    border: 1px solid #2A2AD3;
}

nav > div{
    margin-top: 30px;
    margin-left: 150px;
}

nav div > input[type="submit"]{
    display: inline-block;
    width: 126px;
    height: 36px;
    outline: none;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 2px;
    font-family: arial,sans-serif;
    color: #757575;
    font-weight: bold;
    font-size: 13px;
}
