nav{
    position: relative;
    margin: 200px auto;
    width: 600px;
    height: 400px;
}

nav > img{
    display: block;
    margin: 0 auto;
}

nav > input[type="search"]{
    width: 600px;
    height: 40px;
    outline: none;
    border: 1px solid #DDDADA;
    background: url('../img/voice.png') no-repeat right;
    background-size: 25px 25px;
    background-position: 570px;
    text-indent: 5px;
    margin-top:10px;
    font-size: 1.1em;
}
nav > input[type="search"]:hover{
    border: 1px solid gray;
    visibility: visible;
    opacity: 1;
}
nav > input[type="search"]:active{
    border: 1px solid #2A2AD3;
}

.tips{
/*     display: inline-block; */
    width: 100px;
    height: 20px;
    background-color: #141414;
    color: #DFDDDD;
    padding: 6px 0 6px 9px;
    font-size: 0.7em;
    position: relative;
    left: 530px;
    top: 8px;
    visibility: hidden;
    opacity: 0;
}
.tips::after{
    content: "";
    width: 0;
    height: 0;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #141414 transparent;
    position: relative;
    top: -27px;
    left: -45px;
}

nav > div{
    margin-top: 35px;
    margin-left: 150px;
}

nav div > input[type="submit"]{
    display: inline-block;
    width: 126px;
    height: 36px;
    outline: none;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 2px;
    font-family: arial,sans-serif;
    color: #757575;
    font-weight: bold;
    font-size: 13px;
}

nav div > input[type="submit"]:first-child{
    margin-right: 5px;
}

nav div > input[type="submit"]:hover{
    border: 1px solid #BAB7B7;
    background-color: #F5F4F4;
}
