footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer div a{
    display: inline-block;
    color: #686767;
    font-size: 0.8em;
    margin-left: 28px;
    text-decoration: none;
}
footer div a:hover{
    text-decoration: underline;
}

footer .left{
    float: left;
}
footer .right{
    float: right;
}
footer .right:last-child{
    margin-right: 28px;
}
