html,
body {
    padding: 0;
    margin: 0px;
    font-size: 1.1em;
    font-family: Arial, "Microsoft YaHei";
}

footer ul {
    width: 100%;
    height: 40px;
}

footer ul li {
    float: left;
    list-style: none;
}

footer ul li a {
    display: inline-block;
    text-decoration: none;
    width: 100px;
    color: black;
}